# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

# Exclude specific files from format:check
.github/workflows/deploy.yml
apps/backend/cloud-run.yaml
cors-env.yaml
docker-compose.yml
pnpm-lock.yaml
